apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    service: solr
  name: solr-data-block
spec:
  storageClassName: gp3-csi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
