HOST_URL=http://localhost
DB_URL=jdbc:mysql://db:3306/archivesspace?user=as&password=as123&useUnicode=true&characterEncoding=UTF-8&connectionCollation=utf8mb4_general_ci
SOLR_URL=http://solr:8983/solr/archivesspace
# PUBLIC_URL should be your FQDN in deployments; this is used for the OIDC callback URL
PUBLIC_URL=http://localhost:8080
OIDC_ISSUER=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
