apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    service: aspace
  name: app
spec:
  replicas: 1
  selector:
    matchLabels:
      service: aspace
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        service: aspace
    spec:
      containers:
        - image: ghcr.io/mlibrary/aspace-containerization/aspace-app:v4.1.1
          name: app
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: app-secret
          ports:
            - containerPort: 8080
            - containerPort: 8089
          volumeMounts:
            - name: app-data
              mountPath: /archivesspace/data
            - name: app-logs
              mountPath: /archivesspace/logs
      initContainers:
        - name: init-solr
          image: image-registry.openshift-image-registry.svc:5000/openshift/busybox:stable
          envFrom:
            - secretRef:
                name: app-secret
          command: ['sh', '-c', 'for i in {1..10}; do sleep 5; if wget -nv -O /dev/null ${SOLR_URL}/admin/ping; then exit 0; fi; done; exit 1']
      volumes:
        - name: app-data
          persistentVolumeClaim:
            claimName: app-data-block
        - name: app-logs
          persistentVolumeClaim:
            claimName: app-logs-block
