apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    service: aspace
  name: app-logs-block
spec:
  storageClassName: gp3-csi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
